body {
  margin: 0 auto;
  border: 2px dashed black;
  font-family: "Joti One", cursive;
}
.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(goldenrod, yellowgreen);
  text-align: center;
}

h2 {
  font-size: 25pt;
  color: black;
  box-shadow: 2px 2px 2px 3px black;
  background: linear-gradient(goldenrod, greenyellow);
}

.container input {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  font-size: 15pt;
  box-shadow: 2px 2px 2px 3px black;
}

.submit {
  background: yellowgreen;
  color: black;
  margin: 0 20px;
  box-shadow: 2px 2px 2px 3px black;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  font-size: 30px;
}

.remove {
  background: red;
  color: white;
  margin: 20px 20px;
  box-shadow: 2px 2px 2px 3px black;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 30px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-item {
  margin: 10px auto;
  width: 100%;
  height: 20px;
  font-size: 30px;
}
